* {
    margin: 0;
}

body {
    background-color: rgb(41, 41, 41);
}

.head {
    padding: 2%;
}

.wrapper {
    padding: 3%;
}

.form-container {
    background-color: grey;
    display: flex;
    justify-content: center;
}

.flex-cont {
    display: flex;
}

input {
    border-radius: 10px;
    outline: none;
    border: none;
}